<div class="page-header">
  <%= link_to new_team_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Team
  <% end %>
  <h1>Listing teams</h1>
</div>

<table class="table table-hovertable-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Descrition</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.descrition %></td>
      <td><%= link_to 'Show', team %></td>
      <td><%= link_to 'Edit', edit_team_path(team) %></td>
      <td><%= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
