    <%= form_for(resource,
                        :as => resource_name,
                        :url => registration_path(resource_name),
                        :html => { :class => 'form-inline' }) do |f| %>
        <%= devise_error_messages! %>
      <div class="form-inputs">
        <%= f.text_field :username, :required => true, :placeholder => 'Nome do usuário' , :autofocus => true, :class => 'devise'%>
        <%= f.text_field :first_name, :required => true, :placeholder => 'Nome', :autofocus => true, :class => 'devise' %>
        <%= f.text_field :last_name, :required => true, :placeholder => 'Sobrenome', :autofocus => true , :class => 'devise'%>
        <%= f.email_field :email, :required => true, :placeholder => 'Email', :autofocus => true, :class => 'devise' %>
        <%= f.text_field :password, :type => :password, :required => true, :placeholder => 'Senha', :class => 'devise' %>
        <%= f.text_field :password_confirmation, :type => :password, :required => true, :placeholder => 'Confirmação de Senha', :class => 'devise' %>
      </div>
      <br>
      <div class="form-inputs">
        <%= f.submit 'Cadastrar', :class => 'btn btn-large btn-block btn-primary' %>
      </div>
    <% end %>
<%= render 'devise/shared/links' %>
