<div class="page-header">
  <%= link_to new_status_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Status
  <% end %>
  <h1>Listing statuses</h1>
</div>

<table class="table table-hovertable-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Model</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @statuses.each do |status| %>
    <tr>
      <td><%= status.name %></td>
      <td><%= status.description %></td>
      <td><%= status.model %></td>
      <td><%= link_to 'Show', status %></td>
      <td><%= link_to 'Edit', edit_status_path(status) %></td>
      <td><%= link_to 'Destroy', status, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
