<div class="row-fluid">
  <% if @work.errors.any? %>
    <% @work.errors.full_messages.each do |alert| %>
      <% alert.each do |msg| %>
        <%= content_tag :div, :class => "alert alert-error" do %>
          <a class="close" data-dismiss="alert" href="#">×</a>
          <%= msg %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= form_for(@work, :defaults => {:input_html => {:class => 'form-horizontal'}}) do |f| %>
    <div class="span3">
      <div class="control-group">
        <%= f.hidden_field :user_id, :as => :hidden, :value => current_user.id %>
        <%= f.label 'Projeto', :class => 'control-label' %>
        <div class="controls">
          <%= f.select :project_id, Project.all.map { |project| [project.name, project.id] }.sort, :selected => 1 %>
          <%= link_to '<i class="icon-plus"></i>'.html_safe, new_project_path, :title => 'Novo Projeto', :style => 'position: relative; top: -4px; height: 100%;' %>
        </div>
        <%= f.label 'Tarefa', :class => 'control-label' %>
        <div class="controls">
          <%= f.select :task_id, Task.all.map { |task| [task.title, task.id] }.sort, :selected => 1 %>
          <%= link_to '<i class="icon-plus"></i>'.html_safe, new_task_path, :title => 'Novo Tarefa', :style => 'position: relative; top: -4px; height: 100%;' %>
        </div>
        <%= f.label 'Descrição', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, :rows => 4 %>
        </div>
      </div>
    </div>
    <div class="span2">
      <div class="control-group">
        <%= f.label 'Início', :class => 'control-label' %>
        <div class="input-append controls">
          <%= f.text_field :historic_start, :class => 'input-mini clockpicker start',
                           :style => 'text-align: center;', :id => :historic_start,  :value =>  @historic_start,
                           :onkeypress => "mask(this, formatar);", :onblur => "mask(this, formatar)", :required => true %>
          <span id="startClock" class="add-on btn">
            <span class="icon-time"></span>
          </span>
        </div>
        <%= f.label 'Fim', :class => 'control-label' %>
        <div class="input-append controls">
          <%= f.text_field :historic_finish, :class => 'input-mini clockpicker',
                           :style => 'text-align: center;', :id => :historic_finish, :value =>  @historic_finish,
                           :onkeypress => "mask(this, formatar);", :onblur => "mask(this, formatar);", :required => true %>
          <span id="finishClock" class="add-on btn">
            <span class="icon-time"></span>
          </span>
        </div>
        <%= f.label 'Duração', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :duration_to_show, :class => 'input-small',
                           :style => 'text-align: center;', :id => :duration_to_show, :disabled => true, :value => @duration_to_show %>
          <%= f.hidden_field :historic_duration, :class => 'input-small',
                             :id => :historic_duration, :value => '14400000' %>
        </div>
        <%= f.label 'Custo Adicional', :class => 'control-label' %>
        <div class="controls">
          <%= f.number_field :additional_cost, :class => 'input-small' %>
        </div>
      </div>
    </div>
    <div class="span3">
      <div id="historic" class="controls" style="background-color: #ffffff;width: 220px; border: 2px solid; border-radius: 5px;">
      </div>
      <%= f.hidden_field :historic_date, :id => :historic_date, :value => @historic_date%>
    </div>
    <br>
    <div class="row-fluid">
      <%= f.submit 'Salvar Histórico', :class => "btn btn-primary" %>
    </div>
<% end %>
<%= render 'utils/work' %>
<% unless @works.nil? %>
  <table class="table table-hover table-bordered table-striped">
    <thead>
    <tr>
      <th>Projeto</th>
      <th>Tarefa</th>
      <th>Usuário</th>
      <th>Data</th>
      <th>Início</th>
      <th>Fim</th>
      <th>Duração</th>
      <th>Custo</th>
      <th>Desc</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @works.each do |work| %>
      <tr>
        <% if work.id == @work.id %>
          <td>
            <i style="font-size: 10px;
                  color: #ffffff;
                  background-color:rgba(15,131,189,0.5);
                  -webkit-border-radius: 3px;
                  -moz-border-radius: 3px;
                  border-radius: 3px;; ">&nbsp;Editando
            </i>
            &nbsp;<%= work.project.name %>
          </td>
        <% else %>
          <td><%= work.project.name %></td>
        <% end %>
        <td><%= work.task.title %></td>
        <td><%= work.user.to_s %></td>
        <td><%= work.historic_date.strftime('%d/%m/%Y') %></td>
        <td><%= work.historic_start %></td>
        <td><%= work.historic_finish %></td>
        <td>
          <%=format("%02d:%02d" , (work.historic_duration/1000)/(60*60), ((work.historic_duration/1000)/60)%60) %>
        </td>
        <td><%= work.additional_cost %></td>
        <td><%= work.description %></td>
        <td>
          <%= link_to '<i class="icon-eye-open"></i>'.html_safe, work %>
          <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_work_path(work) %>
          <%= link_to '<i class="icon-trash"></i>'.html_safe, work, :confirm => 'Tem certeza?', :method => :delete %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
</div>
