<div class="page-header">
  <%= link_to edit_work_path(@work), :class => 'btn btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
    Editar
  <% end %>
</div>

<dl>
  <dt>Project:</dt>
  <dd><%= @work.project.name %></dd>

  <dt>Task:</dt>
  <dd><%= @work.task.title %></dd>

  <dt>User:</dt>
  <dd><%= @work.user.to_s %></dd>

  <dt>Data:</dt>
  <dd><%= @work.historic_date.strftime('%d/%m/%Y') %></dd>

  <dt>Start:</dt>
  <dd><%= @work.start %></dd>

  <dt>Finish:</dt>
  <dd><%= @work.finish %></dd>

  <dt>Duration:</dt>
  <dd><%= @work.duration %></dd>

  <dt>Additional cost:</dt>
  <dd><%= @work.additional_cost %></dd>

  <dt>Description:</dt>
  <dd><%= @work.description %></dd>

</dl>
