<h3>Esqueceu sua senha?</h3>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :input_html => {:class => 'devise'} %>
  </div>
  <%= f.submit 'Enviar Instruções', :class => 'btn btn-large btn-block btn-primary'%>
<% end %>

<%= render "devise/shared/links" %>
