<div class="page-header">
  <%= link_to new_ticket_category_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Ticket category
  <% end %>
  <h1>Listing ticket_categories</h1>
</div>

<table class="table table-hovertable-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @ticket_categories.each do |ticket_category| %>
    <tr>
      <td><%= ticket_category.name %></td>
      <td><%= link_to 'Show', ticket_category %></td>
      <td><%= link_to 'Edit', edit_ticket_category_path(ticket_category) %></td>
      <td><%= link_to 'Destroy', ticket_category, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
