<%= form_for(@client,
                    :defaults => {
                            :input_html => { :class => 'form-vertical' } }) do |f| %>
  <% if @client.errors.any? %>
    <% @client.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>
  <div class="row-fluid">
    <div class="span4">
      <div class="control-group">
        <%= f.label 'Nome do Cliente', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
        <%= f.label 'Status do Cliente', :class => 'control-label' %>
        <div class="controls">
          <%= f.select :status_id, Status.find_all_by_model('client').map {|status| [status.name, status.id]}.sort, :selected => 1  %>
        </div>
        <%= f.label 'Descrição', :class => 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, :rows => 3 %>
        </div>
        <%= f.label 'Preço H/H', :class => 'control-label' %>
        <div class="controls">
          <%= f.number_field :hourly_rate %>
        </div>
        <%= f.label 'URL', :class => 'control-label' %>
        <div class="controls">
          <%= f.url_field :url %>
        </div>
      </div>
    </div>
    <div class="span2">
      <% if current_user.contact.nil? %>
        <div class="form-actions">
          <%= link_to 'Adicionar Contato', '/contacts/new', :class => 'btn btn-primary' %>
        </div>
      <% else %>
        <%= f.fields_for @contact do |c| %>
          <div class="form-inputs">
            <div class="control-group">
              <%= c.label 'Endereço', :class => 'control-label' %>
              <div class="controls">
                <%= c.text_field :address, :class => 'input-large', :required => true, :placeholder => 'Rua/Avenida...', :autofocus => true %>
              </div>
              <%= c.label 'Bairro', :class => 'control-label' %>
              <div class="controls">
                <%= c.text_field :neighbourhood, :class => 'input-large', :required => true, :placeholder => 'Bairro', :autofocus => true %>
              </div>
              <%= c.label 'Cidade', :class => 'control-label' %>
              <div class="controls">
                <%= c.text_field :city,:class => 'input-large', :required => true, :placeholder => 'Cidade', :autofocus => true %>
              </div>
              <%= c.label 'Estado', :class => 'control-label' %>
              <div class="controls">
                <%= c.text_field :state,:class => 'input-mini state', :required => true, :placeholder => 'UF', :autofocus => true %>
              </div>
              <%= c.label 'CEP', :class => 'control-label' %>
              <div class="controls">
                <%= c.text_field :postal_code,:class => 'input-small postal_code', :onkeypress => "formatar('#####-###', this);", :max => 9, :onblur => "formatar('#####-###', this)", :required => true, :placeholder => 'CEP', :autofocus => true %>
              </div>
              <%= c.label 'Contato telefônico', :class => 'control-label' %>
              <div class="controls">
                <%= c.text_field :cellphone, :required => true, :placeholder => 'Celular (DDD) 99999-9999', :onkeypress => 'mask(this, mphone);', :onblur => 'mask(this, mphone);', :autofocus => true %>
                <%= c.text_field :phone_number, :required => true, :placeholder => 'Telefone (DDD) 2222-2222', :onkeypress => 'mask(this, mphone);', :onblur => 'mask(this, mphone);', :autofocus => true %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit 'Salvar Cliente', :class => "btn btn-primary" %>
  </div>
<% end %>
<%= render 'utils/contact' %>
<%= render 'utils/phone_number' %>
