<div class="page-header">
  <%= link_to new_client_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Client
  <% end %>
  <h1>Listing clients</h1>
</div>

<table class="table table-hovertable-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Description</th>
      <th>Url</th>
      <th>Contato</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @clients.each do |client| %>
    <tr>
      <td><%= client.name %></td>
      <td><%= client.status.name %></td>
      <td><%= client.description %></td>
      <td><%= client.url %></td>
      <td><%= client.contact.to_s %></td>
      <td><%= link_to 'Show', client %></td>
      <td><%= link_to 'Edit', edit_client_path(client) %></td>
      <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
<% end %>
  </tbody>
</table>
