<div class="page-header">
  <%= link_to contacts_path, :class => 'btn' do %>
    <i class="icon-list-alt"></i>
    Back
  <% end %>
  <%= link_to edit_contact_path(@contact), :class => 'btn btn-primary' do %>
    <i class="icon-pencil icon-white"></i>
    Edit
  <% end %>
  <h1>Listing contacts</h1>
</div>

<dl>
  <dt>Endereço:</dt>
  <dd><%= @contact.to_s %></dd>

  <dt>Celular:</dt>
  <dd><%= @contact.cellphone %></dd>

  <dt>Telefone:</dt>
  <dd><%= @contact.phone_number %></dd>
</dl>
