<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="top">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to title, root_path, :class => "brand" %>
      <div class="nav-collapse">
        <% if user_signed_in? %>
          <ul class="nav pull-right">
            <% if current_user.is? :admin %>
              <% unless navbar_items.nil? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                     role="button" aria-expanded="false"><i class="icon-wrench"></i>
                    <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <%= navbar_items %>
                  </ul>
                </li>
              <% end %>
            <% end %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <i class=" icon-list"></i>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/works/new"><i class="icon-plus"></i>&nbsp;Histórico</a></li>
                <li><a href="/tickets/new"><i class="icon-plus"></i>&nbsp;Ticket</a></li>
                <li><a href="/projects/new"><i class="icon-plus"></i>&nbsp;Projeto</a></li>
                <li><a href="/tasks/new"><i class="icon-plus"></i>&nbsp;Tarefa</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">&nbsp;Listar </li>
                <li><a href="/works"><i class="icon-time"></i>&nbsp;Históricos</a></li>
                <li><a href="/tickets"><i class="icon-tag"></i>&nbsp;Ticket</a></li>
                <li><a href="/projects"><i class="icon-folder-close"></i>&nbsp;Projetos</a></li>
                <li><a href="/tasks"><i class="icon-tasks"></i>&nbsp;Tarefas</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                 role="button" aria-expanded="false"><i class="icon-cog"></i>
                <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li title="<%= current_user.inspect %>">
                  <%= link_to "<i class='icon-user'></i>&nbsp;Perfil".html_safe, edit_user_registration_path, :class => 'navbar-link' %>
                </li>
                <li>
                  <%= link_to "<i class='icon-off'></i>&nbsp;Sair".html_safe, destroy_user_session_path, :method => :delete, :class => 'navbar-link' %>
                </li>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Registrar
                <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Cadastrar", new_registration_path(resource_name) %></li>
                <li><%= link_to "Esqueceu sua senha?", new_password_path(resource_name) %></li>
                <li><%= link_to "Não recebeu email de confirmação?", new_confirmation_path(resource_name) %></li>
              </ul>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
