<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<%= render 'layouts/navbar' %>
<header>
  <%= render 'layouts/header' %>
</header>
<div class="main">
  <% if user_signed_in? %>
    <%= yield %>
  <% else %>
    <div class="row-fluid" style="height: 99%;">
      <div class="row"></div>
      <div class="span3 offset4" style="margin-top: 4%; background-color: #eeeeee; padding: 20px; border-radius: 6px">
        <%= yield %>
      </div>
    </div>
  <% end %>
</div>
</body>
</html>
